{% load static %}
body {
    border: 20px solid #bdc3c7;
    text-align: center;
    width: 75%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 25px;
    letter-spacing: 0.2rem;
}

img{
    height: 350px;
    width: 280px;
    display : block; 
    margin: auto;
}

h2 {
    text-transform: capitalize;
    color: #2c3e50;
    font-size: 2.5rem;
    text-align: center;
}

em {
    letter-spacing: 0.0rem;
}

p{
    letter-spacing: 0.2rem;
}

hr.line {
    border-top: 1px solid #dee2e6;
    width: 150px;
}

.logo {
    width: 30px;
    height: 30px;
}

ul {
    list-style-type:none;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  
.fa-linkedin {
    background: #007bb5;
    color: white;

}

.fa-instagram {
    background: #125688;
    color: white;
}

  


